body {
  margin-top: 0em;
  background-color: black;
  font-family: 'open sans';
  color: #060606;

}

#background-image {
  margin-top: 1em;
  background-image: url(../imgs/curtain_background.png);
}

#remaining-body {

}

nav {
  padding-top: 1em;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-style: ;
  border-bottom: .1em solid rgb(84, 15, 15);
}

nav > a {
  padding: 0 3em;
  text-decoration: none;
  color: rgb(179, 68, 81);
}

header {
  font-family: 'Dancing Script';
  text-align: center;
  font-size: 3em;
  color: rgb(179, 68, 81);
}

#title {

}

#subtitle {
  font-size: 25px;
  padding-left: 20px;
}

h1 {
  text-align: center;
  color: rgb(255, 81, 81);
  margin-top: 0;
}

.production-view {
  width: 60%;
  margin: 2em auto;
  border: .2em solid rgb(100, 20, 20);
  border-radius: 3em;
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
}

.rating-and-image {
  display: inline-block;
  width: 30%
}

.production-details {
  display: inline-block;
  vertical-align: top;
  width: 65%;
  font-size: 1.2em;
  padding-left: 1em;
}

.rating {
  text-align: center;
  font-size: 1em;
  padding: .5em;
  color: rgb(255, 252, 0);
}

.img-link {
}

img {
  width: 100%;
  padding-left: .5em;
}

.title-writer {
  text-align: center;
  font-size: 1.7em;
  padding: 1em;
  padding-top: 0;
  color: rgb(158, 0, 23);
}

.writer {
   font-size:  .8em;
   color: rgb(255, 5, 34);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {

}

.description {
  color: white;
  width: 20em;
  border: 1px solid white;
}

.label {
  color: #BF1817;
  font-size: 1.15em;
}

.left {
 margin-left: 5em;
 display: inline-block;
 width: 40%
 padding-bottom: 2em;
}

.right {
  margin-left: 5em;
  display: inline-block;
  width: 40%
  padding-bottom: 2em;
}

footer {
  text-align: center;
  padding-bottom: 2em;
  color: white;
}

h4 {
  text-align: center;
  color: rgb(255, 0, 0);
  margin: .5em;
  padding-top: 1em;
}

#login {
  text-align: center;
  width: 20%;
  padding: 1.5em;
}

form {

}

input {
 margin-bottom: .5em;
}

label {
  margin-bottom: 1em;
}

#vote-form {
  text-align: center;
  padding-top: 2em;
}

legend{
  font-size: 2em;
}

fieldset {
  padding-top: 1em;
  margin-top: 2em;
  margin-right: 2em;
}

select {

}

#perf-select-head {
  font-size: 2em;
}

#vote-submit {
  margin-top: 1em;
  font-size: 2em;
}

.vote-desc {

}

.score-label {
  font-size: 1.5em;
  color: red;
}

.score-box {
  width: 1.2em;
  text-align: center;
  font-size: 2em;
}

.comment {
  padding: .5em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#home {
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
}

#home > a {
  text-decoration: none;
  color: rgb(169, 65, 77);
}

#logo {
  font-family: 'Dancing Script';
  font-size: 1.3em;
}

fieldset {
  border: none;
}

.rating {
      overflow: hidden;
      display: inline-block;
      position: relative;
}

.rating-input {
    position: absolute;
    left: 16px;
    top: 0px;

    /*float: right;*/
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

.rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}
/*
.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}*/

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}