<form method="post" action=<%= route %>>
  <label class="label" for="email">Email: </label><br>
  <input type="text" name="email" placeholder="example@gmail.com">
  <br>

  <label class="label" for="password">Password: </label><br>
  <input type="password" name="password" placeholder="6 or more characters"><br>

  <input type="submit" value=<%= button_text %>>

</form>