<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
    <a href='/productions'>Productions</a>
    <a href='/companies'>Companies</a>
    <a href='/vote/new'>Vote</a>
    <% if logged_in? %>
      <a href='/sessions/logout'>Log Out</a>
    <% else %>
      <a href='/sessions/new'>Login</a>
    <% end %>
  </nav>
  <header>Curtains!</header>
  <%= yield %>
</body>
</html>
